html { 
    background-color: rgb(255, 168, 6);
  }
body {
  width: 700px;
  height: 500px;
  margin: 0 auto ;
  background-color: #ebf710;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
#user {
    position: absolute;
    top: 440px;
    right: 400px;
    font-size: 20px;
}
#developer {
    position: absolute;
    top: 470px;
    right: 400px;
    font-size: 20px;
}
h1 {
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 2px 2px 1px black;
}
h2 {
    font-size: 25xp;
    text-align: center;
    font-weight: 1000;
}
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    text-align: center;
  }
#Q1 {
    position: relative;
    bottom: 15px;
    font-size: 25px;
    color: rgb(67, 174, 251);
    text-align: center;
    font-weight: 1000;
}
#Q2 {
    position: relative;
    top: 25px;
    font-size: 25px;
    color: rgb(255, 1, 251);
    text-align: center;
    font-weight: 1000;
}
#lunch{
    background-color: aqua;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 52%;
    left: 46%;
}
#dinner{
    background-color: aqua;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 52%;
    right: 46%;
}
.button:hover{
    background-color:#00539f;
    color:white;
}
#updatelun{
    background-color: rgb(255, 171, 255);
    font-size: 20px;
    position:absolute;
    top: 65%;
    left: 43%;
}
#updatedin{
    background-color: rgb(255, 171, 255);
    font-size: 20px;
    position:absolute;
    top: 65%;
    right: 43%;
}
#check{
    background-color: black;
    color: rgb(255, 255, 255);
    border-style: none;
    border-radius: 13px;
    height: 40px;
    width: 150px;
    font-size: 16px;
    font-weight: 1000;
    position: relative;
    top: 0;
}
#check:hover{
    background-color:rgb(255, 255, 255);
    color:black;
    transition:0.7s;
}
#show1{
    position: absolute;
    bottom: 19%;
    left: 0;
    background-color: aquamarine;
}
#show2{
    position: absolute;
    bottom: 13%;
    left: 0;
    background-color: aquamarine;
}
#show3{
    position: absolute;
    bottom: 7%;
    left: 0;
    background-color: rgb(249, 160, 255);
}
#show4{
    position: absolute;
    bottom: 1%;
    left: 0;
    background-color: rgb(249, 160, 255);
}





@media(max-width: 1200px){
    body {
        width: 375px;
        height: 1000px;
        margin:0 auto;
        margin-bottom: 0;
    }
    #user{
        top: 620px;
        right: 10%;
    }
    #developer{
        top: 650px;
        right: 10%;
    }
    #lunch{
        position: absolute;
        top: auto;
        left: 20%;
    }
    #dinner{
        position: absolute;
        top: auto ;
        right: 20%;
    }
    #updatelun{
        position:absolute;
        top: auto;
        left: 20%;
    }
    #updatedin{
        position:absolute;
        top: auto;
        right: 20%;
    }
    #show1{
        position: absolute;
        bottom: -11%;
        left: 0;
    }
    #show2{
        position: absolute;
        bottom: -21%;
        left: 0;
    }
    #show3{
        position: absolute;
        bottom: -31%;
        left: 0;
    }
    #show4{
        position: absolute;
        bottom: -41%;
        left: 0;
    }
    #check {
        top: 50px;
    }
    #check:hover{
        background-color:rgb(0, 0, 0);
        color:rgb(255, 255, 255);
    }
}